<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  <div class="nav-bar"></div>
  <div id="app">
    <div class="product">
      <div class="product-image">
        <!-- 「v-bind」の省略、「data」から「link」を出力 -->
        <img :src="image">
      </div>
      <!-- 「data」から「product」を出力 -->
      <div class="product-info">
        <h1>{{ product }}</h1>

        <!-- <p v-if="inventry > 10">In Stock</p>
        <p v-else-if="inventry <= 10 && inventry > 0">Almost Sold out</p>
        <p v-else>Out of Stock</p>
        <p v-show="Instock">In stock</p> -->

        <!-- 「inStock」が「true」なら「In Stock」を表示 -->
        <p v-if="inStock">In Stock</p>
        <!-- 「inStock」が「false」なら「Out of Stock」を表示 -->
        <p v-else>Out of Stock</p>

        <ul>
          <li v-for="detail in details">{{ detail }}</li>
        </ul>
        <div v-for="variant in variants" 
             :key="variant.variantId"
             ><p @mouseover="updataProduct(variant.variantImage)">
          {{ variant.variantColor }}
        </p></div>
        <ul>
          <li v-for="size in sizes">{{ size }}cm</li>
        </ul>
        <div class="cart-area">
          <button v-on:click="addToCart">Add to Cart</button>
          <button v-on:click="decrements">decrements</button>
  
          <div class="cart">
            <p>Cart({{cart}})</p>
          </div>
        </div>

      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>