@charset "utf-8";

p,h1,h2,h3,h4,h5,h6{
  margin-top:0;
}

img{
  vertical-align:bottom;
}

ul{
  margin:0;
  padding:0;
}

.nav-bar{
  height: 50px;
  background: #000;
  margin-bottom: 50px;
}

.product{
  display: flex;
  justify-content: space-around;
}

.cart-area{
  display: flex;
  justify-content: space-around;
}

button{
  padding:2px;
  border:2px solid #000;
  border-radius: 5px;
  background-color: #000;
  color:#fff;
  font-size:16px;
  font-weight:bold;
  text-decoration:none;
  margin-left: 10px;
}
button:hover{
  background-color: #fff;
  color:#000;
}

.cart{
  margin:0 10px;
  line-height: 20px;
}
