@charset "utf-8";

p,h1,h2,h3,h4,h5,h6{
  margin-top:0;
}

img{
  vertical-align:bottom;
}

ul{
  margin:0;
  padding:0;
}

.nav-bar{
  height: 50px;
  background: #000;
  margin-bottom: 50px;
}

.product{
  display: flex;
  justify-content: space-around;
}